
		body
		{
			font-family:arial;
		}
		.bar
		{	display:inline-block;
			width:85%;
			height:65px;
			padding-left:150px;
			padding-right:150px;
			vertical-align:middle;
			
		}
		
		.location
		{	font-size:20px;
			font-weight:bold;
			margin:10px;
			position:absolute;
			top:17px;
			left:200px;
			text-decoration:underline;
		}
		.addr
		{	font-family:advent pro;
			font-size:22px;
			position:absolute;
			top:26px;
			left:336px;
			color: #ddd;
		}
		ul
		{
			margin:0;
			padding:0;
			list-style:none;
			position:absolute;
			left:800px;
			top:6px;
		}
		ul li{
		float:left;
		font-size:25px;
		width:190px;
		height:40px;
		vertical-align:middle;
		text-align:center;
		line-height:40px;
		opacity:0.5;
		}
		ul li a{
			text-decoration:none;
			color:red;
			display:block;
			padding:10px;
		}
		ul li a:hover{
		color:white;
		background-color:orange;
		opacity:0.5;
		text-decoration:none;
		}
		.ad
		{
			width:100%;
			height:360px;
			background-color:black;
			opacity:1;
		}
		a:hover
		{
			color:green;
		}
		.image:hover{
		transition:0.8s;
		 transform: scale(1.1);
		}
		#nav{
		overflow:hidden;
		background-color:white;
		height:90px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		}
		#res{
			margin-left:90px;
			display:block;
			text-align:center;
			float:left;
			padding:12px 17px;
			font-size:30px;
			font-weight:bold;
			text-decoration:none;
		}
		.flt
		{
			position:absolute;
			left:1000px;
			top:465px;
		}
		#nav a{
			display:block;
			text-align:center;
			float:left;
			color:black;
			padding:12px 17px;
			left:20px;
			font-size:20px;
			text-decoration:none;
		}
		#nav a:hover{
			color:red;
		}
		#nav a.active{
			background-color:blue;
			color:white;
			font-size:25px;
		}
		
		p{
			font-size:40px;
		}
		.margin{
			margin-left:200px;
			margin-right:150px;
		}
		.card
		{
			float:left;
			width:270px;
			text-align:center;
			font-family:arial;
			margin-bottom:90px;
			margin-left:20px;
			
		}
		.title{
			color:grey;
			font-size:15px;
			margin-bottom:10px;
		}
		button{
			border: none;
			display: inline-block;
			padding: 8px;
			margin-bottom:20px;
			color: white;
			background-color: #000;
			text-align: center;
			cursor: pointer;
			width: 240px;
			height:40px;
			font-size: 18px;
		}
		button:hover{
		opacity: 0.7;
		}
		.card img{	
			width:240px;
			padding-top:20px;
			padding-bottom:30px;
		}
		.card:hover{
		
		box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3);
		}
		.content{
			padding-top: 90px;
		}

		.sticky{
			position: fixed;
			top: 0;
			width: 100%;
		}
		.sticky + .content {
			padding-top:290px;
		}
		 .glyphicon-envelope{
		font-size:40px;
		color:lightblue;
		text-shadow:2px 2px 4px #000000;
		}
		.glyphicon-user{
		font-size:40px;
		color:lightblue;
		text-shadow:2px 2px 4px #000000;
		}
		.glyphicon-thumbs-up{
		font-size:40px;
		color:lightblue;
		text-shadow:2px 2px 4px #000000;
		}
		@media screen and (max-width:480px)
		{
			.bar
			{	display:inline-block;
				width:100%;
				height:30px;
				padding-left:10px;
				padding-right:150px;
				vertical-align:middle;
			
			}
			.ad{
				display:none;
			}
			.image{
				width:20px;
				height:40px;
				margin-left:0;
			}
			.addr
			{	font-family:advent pro;
				font-size:8px;
				position:absolute;
				top:25px;
				left:35px;
			}
			.location{
				font-size:8px;
				left:25px;
				top:3px;
			}
			ul
			{ 
				padding:0;
				list-style:none;
				position:fixed;
				left:-0px;
				top:95%;
				height:60px;
				width:100%;
				background-color:white;
				padding-left:0;
			}
			ul li{
				float:left;
				font-size:0;
				width:33%;
				height:10px;
				line-height:30px;
				vertical-align:middle;
			}
			ul li .glyphicon-envelope{
				padding-left:0px;
				padding-right:0px;
				font-size:31px;
				color:#blue;
			}
			ul li .glyphicon-user{
				font-size:28px;
				padding-right:0px;
				margin-left:50px;
				color:#000;
			}
			ul li .glyphicon-thumbs-up{
				font-size:31px;
				margin-right:50px;
				color:#000;
			}
			ul li a{
				padding:0px;
			}
			#nav{
				overflow:hidden;
				height:30px;
			}
			#res{
				margin-left:20px;
				display:block;
				text-align:center;
				float:left;
				padding:0px;
				font-size:15px;
				font-weight:bold;
				text-decoration:none;
				margin-top:-15px;
			}
			.flt
			{
				position:absolute;
				right:20px;
				top:58px;
			}
			#nav a{
				display:block;
				padding:0px 3px;
				left:20px;
				font-size:8px;
			}
			#nav a:hover{
				color:red;
			}
			#nav a.active{
				font-size:11px;
			}
			.content{
				padding-top:0px;
			}

			.sticky{
				position: fixed;
				top: 0;
				width: 100%;
			}
			.sticky + .content {
				padding-top:90px;
			}
			.sticky1{
				position:fixed;
				bottom:0;
			}
			.margin{
				margin:0;
			}
			.card
			{
				height:205px;
				float:left;
				width:160px;
				text-align:center;
				font-family:arial;
				margin-bottom:60px;
				margin-left:15px;
				margin-right:15px;
			}
			.title{
				color:grey;
				font-size:8px;
				margin-bottom:1px;
			}
			h2{
				font-size:10px;
			}
			button{
				border: none;
				display: inline-block;
				padding: 2px;
				margin-bottom:0px;
				color: white;
				background-color: #000;
				text-align: center;
				cursor: pointer;
				width:150px;
				height:20px;
				font-size: 10px;
			}
			.margin img{
				display:block;
				margin-left:5px;
				width:150px;
				height:120px;	
			}
		}
			
				
